import url("https://fonts.googleapis.com/css?family=Trirong")
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.hero-section {
    background:url("./bajarangiimages.jpg");
    min-height: 100vh;
    background-position: center;
    background-size:cover;
}
.text_container{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;
}
.lg_text {
    font-size: 72px;
    font-weight: 400;
}
.black_box {
    background-color: #000;
    padding: 20px;

}
.black_box h2 {
    font-weight: 300;
    font-size: 72px;
    color: white;
    text-align: center;

}
.black_box h2 span {
    font-size: 400;
}