html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1{
    background-images: url(army.jpg);
    min-height: 100%;
}
.pimg2 {
    background-image: url(taj\ mahal.jpg);
    min-height: 400px;
}
.pimg3 {
    background-image: url(army.jpg);
    min-height: 400px;
}
.pimg1
.pimg2
.pimg3

    position: relative;
    background-image: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.ptext{
    postion: absolute
    top: 50%;
    width: 100;
    text-align: center;
    color: black;

}